{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "uglify": true
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
